@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-plusSans;
}

.hero_bg {
  min-height: 100vh;
  background: url(./assets/heroImg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.popup {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: scale(0.9);
}

.popup.show {
  opacity: 1;
  transform: scale(1);
}
